html {
    background-image: url("images/ExtraLifeBlueBG.jpg");
}

body {
    background-color: transparent;
}

.container {
    background-color: transparent;
}

.jumbotron {
    background-color: transparent;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    text-align: center;
    color: #fff;
}

.custom-container {
    background-image: url("images/ExtraLifeDotBG.jpg");
    background-repeat: repeat;
    font-family: 'Lato', sans-serif;

}
.custom-container h1 {
    font-size: 70px;
    font-weight: bold
}

.panel-title {
    font-size: 30px;
    text-align: center;
}

.panel-body{
    background-color: #fafafa;
}

.panel-body h4{
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}

.tier-rewards p{
    padding-bottom: 15px;
}

#clockdiv {
    font-size: 40px;
    text-align: center;
}
